<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
    <connectionStrings>
      <add name="HellowWorldConnString"
           providerName="System.Data.SqlClient"
           connectionString="Data Source=(LocalDB)\v11.0;AttachDbFileName=|DataDirectory|\DatabaseFileName.mdf;InitialCatalog=HelloWorld;Integrated Security=True;MultipleActiveResultSets=True" />
    </connectionStrings>
</configuration>